<h2 class="page-header flush-top">Number Stepper</h2>

<section>
  <h3 class="component-header">Solid Color Options</h3>

  <ddk-example>
<div class="form-group">
  <label class="sr-only">Blue Button</label>
  <div class="btn-group btn-group-bar btn-group-stepper-bar" role="group" aria-label="...">
    <button type="button" class="btn btn-blue">
      <svg class="icon icon-1" viewBox="0 0 256 256">
        <use xlink:href="/assets/svgs/icons.svg#plus"></use>
      </svg>
    </button>
    <button type="button" class="btn btn-blue">
      <svg class="icon icon-1" viewBox="0 0 256 256">
        <use xlink:href="/assets/svgs/icons.svg#minus"></use>
      </svg>
    </button>
  </div>
  <label class="sr-only">Cyan Button</label>
  <div class="btn-group btn-group-bar btn-group-stepper-bar" role="group" aria-label="...">
    <button type="button" class="btn btn-cyan">
      <svg class="icon icon-1" viewBox="0 0 256 256">
        <use xlink:href="/assets/svgs/icons.svg#plus"></use>
      </svg>
    </button>
    <button type="button" class="btn btn-cyan">
      <svg class="icon icon-1" viewBox="0 0 256 256">
        <use xlink:href="/assets/svgs/icons.svg#minus"></use>
      </svg>
    </button>
  </div>
  <label class="sr-only">Gray Button</label>
  <div class="btn-group btn-group-bar btn-group-stepper-bar" role="group" aria-label="...">
    <button type="button" class="btn btn-gray">
      <svg class="icon icon-1" viewBox="0 0 256 256">
        <use xlink:href="/assets/svgs/icons.svg#plus"></use>
      </svg>
    </button>
    <button type="button" class="btn btn-gray">
      <svg class="icon icon-1" viewBox="0 0 256 256">
        <use xlink:href="/assets/svgs/icons.svg#minus"></use>
      </svg>
    </button>
  </div>
  <label class="sr-only">Gray Light Button</label>
  <div class="btn-group btn-group-bar btn-group-stepper-bar" role="group" aria-label="...">
    <button type="button" class="btn btn-gray-light">
      <svg class="icon icon-1" viewBox="0 0 256 256">
        <use xlink:href="/assets/svgs/icons.svg#plus"></use>
      </svg>
    </button>
    <button type="button" class="btn btn-gray-light">
      <svg class="icon icon-1" viewBox="0 0 256 256">
        <use xlink:href="/assets/svgs/icons.svg#minus"></use>
      </svg>
    </button>
  </div>
  <div class="bg-charcoal soft-quarter">
    <label class="sr-only">White Button</label>
    <div class="btn-group btn-group-bar btn-group-stepper-bar" role="group" aria-label="...">
      <button type="button" class="btn btn-white">
        <svg class="icon icon-1" viewBox="0 0 256 256">
          <use xlink:href="/assets/svgs/icons.svg#plus"></use>
        </svg>
      </button>
      <button type="button" class="btn btn-white">
        <svg class="icon icon-1" viewBox="0 0 256 256">
          <use xlink:href="/assets/svgs/icons.svg#minus"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
  </ddk-example>
</section>

<section>
  <h3 class="component-header">Sizes</h3>

  <ddk-example>
<div class="form-group">
  <label class="sr-only">Large Button</label>
  <div class="btn-group btn-group-bar btn-group-stepper-bar" role="group" aria-label="...">
    <button type="button" class="btn btn-blue">
      <svg class="icon icon-1" viewBox="0 0 256 256">
        <use xlink:href="/assets/svgs/icons.svg#plus"></use>
      </svg>
    </button>
    <button type="button" class="btn btn-blue">
      <svg class="icon icon-1" viewBox="0 0 256 256">
        <use xlink:href="/assets/svgs/icons.svg#minus"></use>
      </svg>
    </button>
  </div>
  <label class="sr-only">Default Button</label>
  <div class="btn-group btn-group-bar btn-group-stepper-bar" role="group" aria-label="...">
    <button type="button" class="btn btn-blue">
      <svg class="icon icon-1" viewBox="0 0 256 256">
        <use xlink:href="/assets/svgs/icons.svg#plus"></use>
      </svg>
    </button>
    <button type="button" class="btn btn-blue">
      <svg class="icon icon-1" viewBox="0 0 256 256">
        <use xlink:href="/assets/svgs/icons.svg#minus"></use>
      </svg>
    </button>
  </div>
  <label class="sr-only">Small Button</label>
  <div class="btn-group btn-group-bar btn-group-stepper-bar" role="group" aria-label="...">
    <button type="button" class="btn btn-blue">
      <svg class="icon icon-1" viewBox="0 0 256 256">
        <use xlink:href="/assets/svgs/icons.svg#plus"></use>
      </svg>
    </button>
    <button type="button" class="btn btn-blue">
      <svg class="icon icon-1" viewBox="0 0 256 256">
        <use xlink:href="/assets/svgs/icons.svg#minus"></use>
      </svg>
    </button>
  </div>
</div>
  </ddk-example>
</section>